
@font-face{
    font-family: Pipboy;
    src: url(../monofonto.ttf);
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
body{
    font-family: Pipboy, sans-serif;
    color: #14fe17;
    background: #272b23;
    text-shadow: 0rem 0.05rem 0.5rem rgba(20, 254, 23, 0.75);
    letter-spacing: 0.05em;
}
body::after{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,0.4) 1px, transparent 2px, transparent 2px);
    opacity: .4;
    z-index: 1000000;
    pointer-events: none;
}
@media (max-width:629px) {
    #optionalstuff {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    #title_message {
      display:none;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }

#mobileshow { 
display:none; 
}
@media screen and (max-width: 500px) {
#mobileshow { 
display:block; }
}

h1#mobileshow{
    font-size: 2rem !important;
}
h1{
    font-size: 2.5rem !important;
}

.navbar-nav.nav-fill{
    margin: 0 10%;
}
.navbar.navbar-light{
    border-bottom: 2px solid;
    margin: 0px 10px
}
.navbar.navbar-light::before, .navbar.navbar-light::after{
    height: 7px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 5000;
    background: #14fe17;
    bottom: -8px;
}
.navbar::before{
    left: 0px;
}

.navbar::after{
    right: 0px;
}


ul li.nav-item a.nav-link, ul li.navbar-item.active a.nav-link{
    color: #14fe17 !important;
    text-align: center;
    margin: auto;
    font-size: 32px;
    line-height: 22px;
    padding-bottom: 0px;
    z-index: 50;
    position: relative;
    background: #272b23;
    text-shadow: 0rem 0.1rem 1rem rgba(20, 254, 23, 0.75);
    letter-spacing: 0.05em;
}

.navbar-item.active::before{
    content: "";
    position: absolute;
    background:#272b23;
    width: 100%;
    height: 22px;
    top: 60%;
    border-left:2px solid;
    border-right: 2px solid;
    border-top: 2px solid; 
    left: 0px;
    

}
.nav.nav-tabs{
    margin-bottom:20px; 
    margin-top: 20px;
    border-bottom: none; 
}
.nav.nav-tabs > .nav-item >.nav-link:hover,
.nav.nav-tabs > .nav-item >.nav-link{
    border: none;
    background: none;
    font-size: 26px;
    padding: 5px 10px;
}


.nav.nav-tabs > .nav-item:nth-child(1){
  opacity: 1;
}
.nav.nav-tabs > .nav-item:nth-child(2){
    opacity: 0.5;
}
.nav.nav-tabs > .nav-item:nth-child(3){
    opacity: 0.2;
}


.navbar-nav{
    width: 100%;

}
.navbar .navbar-light .navbar-light{
    margin: 0 500px;
}
.navbar ul.navbar-light .navbar-light > li{
    padding: 0 20px;
}


.navbar-light ul.navbar-nav > li{
    display: block;
    position: relative;
    padding: 0 20px;
}
.center-image img{
  border: 2px solid;
    max-height: 300px;
    margin-top: 5%;
  filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(8) brightness(1) contrast(0.7);
}
.text-image{
    margin-top: 8%;
}

center-image{
    position: absolute;
    margin: auto;
    width: 100%;
}

@media screen and (max-width: 678px){
    nav.pip-footer#mobile{
      display: none;
    }
  }
.pip-footer #mobile{
    position: fixed;
    bottom: 0%;
    width: 100%;
    margin: 10px;
    display: inline-block;
    border: none !important;
    font-size: 25px;
}

.pip-footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    margin: 10px;
    display: inline-block;
    border: none !important;
  
}
 .level-progress{
     width: 100%;
     height: 10px;
     border: 2px solid;
     display: inline-block;
     width: 80%;
 }

 .level-progress-indicator{
     height: 6px;
     background: #14fe17;
     position: relative;
     width: 70%;
     

 }

 .navbar.pip-footer .col-3, .navbar.pip-footer .col-6, .navbar.pip-footer .col-13{
     background: rgba(0, 255, 20, 0.1);
     
 }
 .navbar.pip-footer .col-6{
     margin: 0px 5px;
     flex: 0 0 48%;
 }

 .col-13{
    padding-right: 10px;
    padding-left: 10px;
 }
 .row{
     font-size: 22px;
 }

 .row.ftmobile{
    margin-right: -10px !important;
    font-size: 13px;
    
 }

 .status-bar{
     width: 70px;
     margin: auto;
 }
 .typer{
     background: rgba(0, 255, 20, 0.1);
 }
 .statusid{
    margin-top: 60px;
    max-width: 400px;
 }
 .status-bar > .row{
     margin-bottom: 100px;
 } 


 .w50{
     width: 50%;
 }

 .w100{
     width: 90%;
 }

.stat-numbers .col-1, .stat-numbers .col-2{
    background: rgba(0, 255, 20, 0.1);
    margin-right:4px; 
    max-height: 400px;
}
.stat-numbers .col-1.transparent,.stat-numbers .col-2.transparent{
    background: transparent;
}

.stat-numbers img{
    width: 100%;
    border: none;
    padding-top: 10px;
}
.points{
    margin-top:20px;
    font-size: 20px;
}

div.row.stat-numbers{
    width:80%;
    margin-top: 50%;
}
.stat-numbers img #energy{
    width: 50%;
    border: none;
}

@media screen and (max-width: 678px){
    div.row.stat-numbers{
      display: none;
    }
  }
  img.img-responsive{
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(8) brightness(1) contrast(0.9);
  }

/*Scanlines*/


  
  @keyframes crt-blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    50.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  h1 {
    color: rgba(20, 254, 23, 1);
    text-shadow: 0rem 0.1rem 1rem rgba(20, 254, 23, 0.75);
    letter-spacing: 0.05em;
    
  }
  h1::selection {
    color: #fff;
    background: rgba(20, 254, 23, 1);
  }
  h1::-moz-selection {
    color: #fff;
    background: rgba(20, 254, 23, 1);
  }
  h1 span::selection {
    color: #fff;
    background: rgba(20, 254, 23, 1);
  }
  h1 span::-moz-selection {
    color: #fff;
    background: rgba(20, 254, 23, 1);
  }


  
  h2 {
    color: rgba(239, 253, 255, 1);
    text-shadow: 0rem 0.1rem 1rem rgba(239, 253, 255, 0.95);
    letter-spacing: 0.0em;
    
  }
  h2::selection {
    color: #111;
    background: rgba(239, 253, 255, 1);
  }
  h2::-moz-selection {
    color: #111;
    background: rgba(239, 253, 255, 1);
  }
  



  /* Radar */

  
.radar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #14fe17;
    background-size: cover;
    box-shadow: 0 2px 1px #14fe17, inset 0 0 100px rgba(20, 254, 23, 0.75);
    overflow: hidden;
  }
  
  .radar:before {
    content: "";
    position: absolute;
    top: 80%;
    left: 55%;
    width: 10px;
    height: 10px;
    background: #00ff00;
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 1s linear infinite;
  }
  
  .radar:after {
    content: "";
    position: absolute;
    top: 70%;
    left: 45%;
    width: 10px;
    height: 10px;
    background: #00ff00;
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 1s linear infinite;
  }
  
  .radar li:nth-child(1),
  .radar li:nth-child(2),
  .radar li:nth-child(3),
  .radar li:nth-child(4) {
    list-style: none;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    background: rgba(0,255,0,1);
  }
  
  .radar li:nth-child(2) {
    transform: rotate(90deg);
  }
  
  .radar li:nth-child(3) {
    transform: rotate(45deg);
  }
  
  .radar li:nth-child(4) {
    transform: rotate(-45deg);
  }
  
  .radar li:nth-child(5),
  .radar li:nth-child(6),
  .radar li:nth-child(7) {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgba(0,255,0,1);
    background: transparent;
    border-radius: 50%;
  }
  
  .radar li:nth-child(5) {
    width: 120px;
    height: 120px;
  }
  
  .radar li:nth-child(6) {
    width: 140px;
    height: 140px;
  }
  
  .radar li:nth-child(7) {
    width: 200px;
    height: 200px;
  }
  
  .radar li:nth-child(8) {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 97px;
    height: 97px;
    transform-origin: top left;
    background: linear-gradient(45deg, #00ff00 0%, transparent 50%);
    animation: animate 2s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes glow {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  #radar{
    margin-left: 550px;
    margin-top: -30%;
    
  }